* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #37383b;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-transition {
    transition:
        transform 0.5s ease,
        opacity 0.5s ease,
        width 0.5s ease;
    will-change: transform, opacity, width;
    opacity: 1;
    width: 20%;
}

.collapsed {
    opacity: 0;
    width: 0 !important;
    padding: 0;
    overflow: hidden;
}

.wired-shadow {
    text-shadow:
        #f74c00 25px -9.04494px 20px,
        #ffb199 -25px 9.04494px 30px;
}

.wired-text {
    font-weight: 600;
    color: #f74c00;
}

.autowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
