* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-transition {
  transition: transform 0.5s ease, opacity 0.5s ease, width 0.5s ease;
  will-change: transform, opacity, width;
  opacity: 1;
  width: 20%;
}

.collapsed{
  opacity: 0;
  width: 0 !important;
  padding: 0;
  overflow: hidden;
}

